#Directories
build/
coverage/
node_modules/
images/review/
.coverage_artifacts
.coverage_contracts

!*/node_modules/@openzeppelin/

#Files
.DS_Store
coverage.json
commands.txt

#Testing
contracts/IERC20.sol

#Environment
.env
test.sol
multi.sol
